# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfplan

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# Misc
*.swp